.mainContainer
  padding: 1rem
  margin: auto

  .detailsContainer
    display: flex

    .actionButton
      margin: 1rem

    .detailsInfoContainer
      display: grid
      grid-template-columns: 10rem 20rem
      grid-template-rows: repeat(6, 1fr)
      justify-content: start


.inputFormItem
  margin: 1rem 0

@media (min-width: 40rem)
  .mainContainer
    width: 70%
